body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url(imagenes/banner_agenda.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}
.banner{
  margin: 40px;
}
.banner h1{
  margin: 0px;
}