 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 body,
 html {
   height: 100%;
   font-family: Arial, sans-serif;
 }

 .bienvenida {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   height: 500px;
   padding: 2rem;
   background-image: url('imagenes/banner_agenda.png');
   background-size: cover;
   background-position: center;
   color: white;
   text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
 }

 .bienvenida-contenido {
   max-width: 700px;
   background-color: rgba(0, 0, 0, 0.4);

   padding: 2rem;
   border-radius: 12px;
 }

 .bienvenida h1 {
   font-size: 2.5rem;
   margin-bottom: 1rem;
 }

 .bienvenida p {
   font-size: 1.25rem;
   margin-bottom: 2rem;
 }

 .bienvenida a {
   padding: 0.75rem 1.5rem;
   font-size: 1rem;
   border: none;
   background-color: #00b894;
   color: white;
   border-radius: 8px;
   cursor: pointer;
   transition: background-color 0.3s ease;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-self: center;
   text-decoration: none;
 }

 .bienvenida button:hover {
   background-color: #019875;
 }

 @media (max-width: 768px) {
   .bienvenida {
     padding: 1rem;
     height: 400px;
   }

   .bienvenida-contenido {
     background-color: rgba(0, 0, 0, 0.5);
   }

   .bienvenida h1 {
     font-size: 2.2rem;
   }

   .bienvenida p {
     font-size: 1.1rem;
   }
 }

 /* Temario */

 .section-temario {
   padding: 0px 20px;
   text-align: center;
   margin-top: 40px;
   justify-content: center;
   margin-bottom: 20px;
 }

 .titulo-temario {
   text-align: center;
   justify-content: center;
   margin-bottom: 40px;
 }

 .title-module {
   font-size: 16px;
   color: #333;
   text-decoration: none;
   cursor: pointer;
   font-weight: bold;

 }

 .temario-container,
 .recursos-container {
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
   justify-content: center;
 }

 .temario-item,
 .recurso-item {
   background-color: #f9f9f9;
   border-radius: 8px;
   padding: 20px;
   width: 300px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   text-align: left;
   font-size: 1.15em;
   color: #333;
   text-decoration: none;
   cursor: pointer;
   font-weight: bold;
   margin-bottom: 30px;
 }

 .description {
   font-size: 17px;
   font-weight: normal;
   margin-top: 20px;
 }

 .email-link {
   color: #4572a0;
   ;
   text-decoration: none;
 }

 .email-link:hover {
   color: #bed7f0;
   text-decoration: none;
 }

 .social-icons img {
   width: 30px;
   margin: 0 10px;
 }

 /* Agenda del curso */
 .agenda-container {
   max-width: 900px;
   border: 1px solid #ccc;
   padding: 2rem;
   border-radius: 12px;
   margin: auto;

 }

 h2 {
   text-align: center;
   background: yellow;
   display: inline-block;
   padding: 0.5rem 1rem;
   margin-bottom: 2rem;
 }

 form {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1rem;
 }

 input,
 select,
 textarea {
   padding: 0.5rem;
   border: 1px solid green;
   border-radius: 6px;
   width: 100%;
 }

 textarea {
   grid-column: span 2;
 }

 .calendar-selector {
   grid-column: span 2;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1rem;
   width: 200px;
   margin-top: 10px;
   justify-self: center;
   font-weight: bold;
 }

 .calendar-dates {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   gap: 0.5rem;
 }

 .day {
   text-align: center;
   padding: 0.5rem;
   border-radius: 6px;
   cursor: pointer;
 }

 .available {
   background: #4CAF50;
   color: white;
 }

 .unavailable {
   background: #f5f3f3;
   color: rgb(10, 10, 10);
 }

 .selected {
   outline: 3px solid black;
 }

 .hours {
   display: flex;
   flex-wrap: wrap;
   gap: 0.5rem;
   margin-top: 1rem;
   grid-column: span 2;
 }

 .hour {
   background: #4CAF50;
   color: white;
   padding: 0.5rem 0.8rem;
   border-radius: 6px;
   cursor: pointer;
 }

 .hour.selected {
   background: #2e7d32;
 }

 .submit-btn {
   grid-column: span 2;
   background: #1b3d1b;
   color: white;
   font-weight: bold;
   font-size: 1.1rem;
   padding: 1rem;
   border: none;
   cursor: pointer;
   border-radius: 6px;
 }

 .note {
   font-size: 0.9rem;
   grid-column: span 2;
   text-align: center;
   margin-top: 1rem;
 }

 .note a {
   color: blue;
 }

 @media (max-width: 768px) {
   form {
     grid-template-columns: 1fr;
   }

   .submit-btn,
   .note {
     grid-column: span 1;
   }
 }

 @media screen and (max-width: 480px) {

  .agenda-container{
    padding: 0px;
    max-width: 350px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

   form {
     display: flex;
     flex-direction: column;
     align-items: center;
   }

   input,
   select,
   textarea {
     width: 90%;
   }

   .calendar-selector {
     width: 297px;
   }

   .calendar-dates {
     margin-left: 3px;
     width: 297px;
     text-align: center;
   }

   .note {
     line-height: 25px;
     display: flex;
     flex-direction: column;
   }

   .submit-btn {
     width: 98%;
   }
   .temario-container, .recursos-container {
    justify-content: left;
    gap:20px;
   }
.temario-item, .recurso-item{
  width: 350px;
}

 }