/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #213141;
    height: 27px;
}

.link-redes {
    text-align: right;
}

#icono-redes {
    text-align: right;
    margin-right: 10px;
    color: #7a9cbe;
    margin-top: 5px;
}

#icono-redes:hover {
    color: #eaedf0;
}

.contenedor-Logo {
    display: flex;
    justify-content: left;
}

.Logo {
    width: 150px;
    margin-left: 10px;

}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    z-index: 1000;
    width: 100%;
    background-color: rgb(17, 17, 17, 1.4);
}

.hamburguesa {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    margin-right: 10px;
}

.navlinks {
    display: flex;
    list-style-type: none;
}

.navlinks a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: color 0.3s;
}

.navlinks a:hover {
    color: rgb(250, 192, 117);
    background-color: #34495E;
}

@media (max-width: 768px) {
    .navlinks {
        display: none;
        flex-direction: column;
        background-color: #e7dfdf;
        width: 100%;
        position: absolute;
        top: 90px;
        left: 0;
    }

    .navlinks a {
        color: black;
    }

    .navlinks a:hover {
        color: rgb(250, 192, 117);
        background-color: #34495E;
    }

    .navlinks.show {
        display: flex;
    }

    .hamburguesa {
        display: block;
    }

    .navlinks li {
        text-align: center;
        margin: 10px 0;
    }

    .Logo {
        float: left;
    }

}

/* Banner*/
.animation {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 0;
}

.animated-text {
    display: inline-block;
    padding-left: 100%;
    font-size: 22px;
    color: #333;
    animation: scrollText 20s linear infinite;
}

@keyframes scrollText {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Contáctanos*/

.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
}

.location {
    display: flex;
    width: 550px;
    justify-content: center;
    height: 350px;
}

.separator {
    height: 2px;
    background-color: rgb(250, 192, 117);
    width: 100%;
    margin-bottom: 20px;
}

.separator1 {
    height: 2px;
    background-color: rgb(250, 192, 117);
    width: 100%;
    margin-bottom: 20px;
    margin-top: 27px;
}

.about-content {
    flex: 1;
    text-align: left;
    text-align: justify;
    margin-left: 10px;
}

.about-content h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #333;
}

.about-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 12px;
    color: #555;
    text-align: justify;
}

.contact {
    text-align: left;
    display: flex;
}

.contact>a {
    text-align: left;
    display: flex;
    margin-left: 7px;
    text-decoration: none;
    color: black;
    margin-right: 50px;
}

.fa-brands,
.fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    color: black;
    letter-spacing: 9px;
}

.contact1 {
    margin-top: 20px;
}

/* Responsive Styles */

@media (max-width: 768px) {

    .contact {
        text-align: left;
        display: flex;
        margin-bottom: 20px;
    }

    .location {
        display: flex;
        width: 320px;
        height: 320px;
        justify-content: center;
    }

    .separator {
        width: 97%;
    }

    .about-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-content {
        text-align: center;
    }

    .about-content p {
        width: 97%;
    }

    .about-image img {
        max-width: 300px;
    }
}

@media (max-width: 468px) {
    .contact {
        display: flex;
        line-height: 10px;
        margin-left: 20px;
        margin-bottom: 15px;
        flex-direction: column;
    }

    .contact>a {
        text-align: left;
        margin-left: 5px;
        text-decoration: none;
        color: black;
        margin-right: 0px;
        margin-top: -12px;
        margin-bottom: 19px;
    }

    .contact1 {
        text-align: left;
        margin-top: -6px;
    }

    .fa-phone:before {
        content: "\f095";
        margin-left: -18px;
    }

    .about-content p {
        width: 97%;
        margin-right: 20px;
    }

    .fa-envelope:before {
        content: "\f0e0";
        margin-left: -18px;
        display: flex;
    }
}

/* Temario */

.section-temario {
    text-align: center;
}

.titulo-temario {
    margin-bottom: 40px;
    margin-top: 40px;
}

.temario-container,
.recursos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.temario-item,
.recurso-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.email-link {
    color: #4572a0;
    text-decoration: none;
}

.email-link:hover {
    color: #bed7f0;
    text-decoration: none;
}

.social-icons img {
    width: 30px;
    margin: 0 10px;
}

/* Texto Ver más */

.link-vermas {
    padding: 20px;
}

/*  Estilos Contactos */

.container-contact {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
    background-image: url('imagenes/registrarse2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.content {
    width: 450px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 30px;
}

.form-subtitle {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    font-size: 14px;
    color: #333;
    margin-left: 20px;
}

.input-contactForm,
textarea {
    width: 90%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 20px;
}

textarea {
    resize: none;
    height: 100px;
}

.terms-label {
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
    gap: 5px;
}

.sendButton {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.sendButton:hover {
    background-color: #0056b3;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .content {
        padding: 10px 0px 10px 0px;
        width: 320px;
    }

    .form-title {
        font-size: 20px;
    }

    .form-subtitle {
        font-size: 16px;
        margin-left: 10px;
    }

    label {
        font-size: 13px;
    }

    .input-contactForm,
    textarea {
        font-size: 13px;
    }

    .sendButton {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .form-title {
        font-size: 18px;
    }

    .form-subtitle {
        font-size: 14px;
    }

    .sendButton {
        font-size: 12px;
    }

    .container-contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Whatsapp */

.whatsapp-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1000;
}

.whatsapp-button {
    display: flex;
    align-items: center;
    background-color: #25d366;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s;
}

.whatsapp-icon {
    width: 30px;
    height: 30px;
}

.whatsapp-container.visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(-10px);
    transition: opacity 0.3s, transform 0.5s;
}


/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    font-size: 16px;
    bottom: 0;
    display: flex;
    justify-content: center;
}